* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7DAA92;
    text-align: center;
}

.container {
    /* border: 2px solid black; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 6vmin;
    /* color: #D7263D; */
    color: #E98A15;
    background-color: #ffffc7;
}

#reset-btn{
    height: 3rem;
    width: 7.5rem;
    border-radius: 1rem;
    background-color: #211A1D;
    font-size: 1rem;
    color: #ECE5F0;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }